.thumbnails li {
    position: relative;
}

.thumbnails .buttons {
  position: absolute;
  top: 8px;
  right: 8px;
  text-align: right;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}