<div class="container">
    <div class="span12">
        <h1 data-ng-hide="isNew">
            Edit gallery {{gallery.name}}
        </h1>
        
        <h1 data-ng-show="isNew">
            Add new gallery
        </h1>
        
        <div class="well-small">
            <form name="form" data-ng-submit="formSubmit()" novalidate="novalidate">
                <fieldset>
                    <label>Gallery name</label>
                    <input 
                        type="text" 
                        data-ng-model="gallery.name"
                        required
                    >
                </fieldset>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
</div>

