<div class="container">
    <div class="span12">
        <h1>
            Gallery list
        </h1>
        <hr>
        <ul class="thumbnails">
            <li 
                class="span4" 
                data-ng-repeat="gallery in galleries" 
                data-ng-mouseenter="showButtons(this)"
                data-ng-mouseleave="hideButtons(this)"
                data-ng-hide="gallery.isDeleted"
            >
                <a data-ng-href="#/gallery/{{gallery.id}}/images" class="thumbnail">
                    <span data-ng-switch="hasImage(gallery)">
                        <img data-ng-switch-when="false" data-ng-src="/images/placeholder.png"    alt="{{gallery.name}}">
                        <img data-ng-switch-default      data-ng-src="{{gallery.images[0].thumbnail}}" alt="{{gallery.name}}">
                    </span>
                </a>
                {{gallery.name}}
                <div data-ng-class="{hide: !buttonsVisible}" class="buttons">
                    <a data-ng-href="#/gallery/edit/{{gallery.id}}" class="btn btn-mini button-edit">Edit</a>
                    <a 
                        class="btn btn-danger btn-mini button-delete"
                        data-bs-modal="'app/view/galleryListPopupDelete.html'"
                    >
                        Delete
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>

