<div class="container">
    <div class="span12">
        <h1>
            {{gallery.name}}
        </h1>
        <div class="well-small">
            <form name="form" ng-upload novalidate="novalidate" action="/api/images" method="post" enctype="multipart/form-data">
                <fieldset>
                    <label>Image name</label>
                    <input 
                        type="text" 
                        data-ng-model="gallery.name"
                        required
                        name="name"
                    >
                    <label>File</label>
                    <input type="file" name="imageFile">
                    
                </fieldset>
                <button upload-submit="uploadComplete(contents, completed)" type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
</div>

