<div class="container">
    <div class="span12">
        <div class="well-small">
            <form name="form" data-ng-submit="formSubmit()">
                <fieldset>
                    <label>Gallery name</label>
                    <input 
                        type="text" 
                        data-ng-model="gallery.name"
                        required
                    >

                    <button type="submit" class="btn">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

