<div class="container">
    <div class="span12">   
        <ul class="thumbnails">
            <li 
                class="span4" 
                data-ng-repeat="gallery in galleries" 
                data-ng-mouseenter="showButtons(this)"
                data-ng-mouseleave="hideButtons(this)"
                data-ng-hide="gallery.isDeleted"
            >
                <a href="#" class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="">
                </a>
                {{gallery.name}}
                <div data-ng-class="{hide: !buttonsVisible}" class="buttons">
                    <a data-ng-href="#/gallery/edit/{{gallery._id}}" class="btn btn-mini button-edit">Edit</a>
                    <a 
                        type="button"
                        class="btn btn-danger btn-mini button-delete"
                        data-bs-modal="'app/view/galleryListPopupDelete.html'"
                    >
                        Delete
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>

